<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>WAZSTAGRAM - An experiment with Windows Azure, socket.io, service bus, and the Instagram Realtime API</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script type="text/javascript">
    window.appInsights={queue:[],applicationInsightsId:null,accountId:null,appUserId:null,configUrl:null,start:function(n){function u(n,t){n[t]=function(){var i=arguments;n.queue.push(function(){n[t].apply(n,i)})}}function f(n){var t=document.createElement("script");return t.type="text/javascript",t.src=n,t.async=!0,t}function r(){i.appendChild(f("//az416426.vo.msecnd.net/scripts/ai.0.js"))}var i,t;this.applicationInsightsId=n;u(this,"logEvent");u(this,"logPageView");i=document.getElementsByTagName("script")[0].parentNode;this.configUrl===null?r():(t=f(this.configUrl),t.onload=r,t.onerror=r,i.appendChild(t));this.start=function(){}}};

    appInsights.start("2528f039-82a4-414a-8644-2931b2ea8682");
    appInsights.logPageView();
        </script>
        <script>var city = '<%= city %>';</script>
        <script src="/js/script.js"></script>
    </head>
    <body>        
        <a href="https://github.com/JustinBeckwith/wazstagram" target="_blank">
            <div id="header">
                <img src="/images/logo.png" alt="wazstagram">
            </div>
        </a>        
        <div id="pics"></div>
    </body>
</html>