<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>WAZSTAGRAM - An experiment with Windows Azure, socket.io, service bus, and the Instagram Realtime API</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    var appInsights=window.appInsights||function(config){
        function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
    }({
        instrumentationKey:"2528f039-82a4-414a-8644-2931b2ea8682"
    });
    
    window.appInsights=appInsights;
    appInsights.trackPageView();
</script>

        <script>var city = '<%= city %>';</script>
        <script src="/js/script.js"></script>
    </head>
    <body>        
        <a href="https://github.com/JustinBeckwith/wazstagram" target="_blank">
            <div id="header">
                <img src="/images/logo.png" alt="wazstagram">
            </div>
        </a>        
        <div id="pics"></div>
    </body>
</html>
