<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <a href="/seattle">Seattle</a>
        <a href="/new-york">New York</a>
        <a href="/los-angeles">Los Angeles</a>
        <a href="/pittsburgh">Pittsburgh</a>
        <a href="/san-francisco">San Francisco</a>
        <a href="/washington-dc">Washington DC</a>
        <a href="/rome">Rome</a>
        <br>
        <br>
        <a href="/universe">Universe</a>
    </body>
</html>
