/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-"] {
	left: 0;
	top: 0;
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
	position: absolute;
}

[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  text-decoration: inherit;
  color: white;
  text-shadow: 0.1em 0.1em black;
}

.foundicon-heart:before {
  content: "\f001";
	vertical-align: middle;
}

.foundicon-location:before {
  content: "\f028";
	vertical-align: middle;
}

.foundicon-chat:before {
  font-family: "SocialFoundicons";
  content: "\f018";
}

